/*body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
*/

html{
    height: 100vh;
}

body{
    font-family: -apple-system,BlyncMacSystemFont, "Segoe UI",Roboto,Arial, Helvetica,Arial,sans-serif;
    margin:auto;
    width:100%;
    height:100%;
    padding:3%;
    overflow:hidden;
    background-color:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    color:wheat;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    flex-direction: column-reverse;
    font-size: 80px;
    line-height: 1.5;
    padding: 030px;
}
.lable{
    font-size:20px;
    font-weight:600;
    color:#efa;
}